body {
    font-family: 'Poppins', sans-serif;
}

.lavender {
    background-color: #D1D1E9;
}

.dark-lavender {
    background-color: #9090D3;
}

.navbar {
    background-color: #D1D1E9;
}

.bubble {
    background-color: #6246EA;
    margin: 0 120px;
    padding: 5px 0;
    border-radius: 20px;
}

.text-bold {
    font-weight: 800;
}

.text-sharp {
    font-weight: 100;
}

.hero-section {
    text-align: center;
    padding: 40px 0 80px;
}

.hero-text {
    max-width: 600px;
    margin: 0 auto;
}

.hero-text h1, .hero-text p {
    margin-top: 8px;
}

.hero-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-top: 20px;
}

.hero-text .hero-image {
    max-width: 50%;
}

.content-container {
    text-align: center;
    margin-top: 50px;
    padding: 32px;
    background-color: #d9d9d9;
    border-radius: 5px;
}

.content-text {
    margin-bottom: 30px;
}

.card-deck {
    margin-top: 30px;
}

/* Add padding to the card body */
.card {
    padding: 10px;
    border: none;
    margin-bottom: 24px;
}

/* Adjust styling for card image */
.card-img-one {
    padding: 48px 100px;
}

.col-md-8 .card-body {
    font-size: smaller;
}

.no-gutters .col-md-4 {
    overflow: hidden;
}

.card-img-two {
    height: auto;
    width: 100%;
}

.footer {
    background-color: #9090D3;
    color: white;
    padding: 20px 0;
    margin-top: 50px;
}

.footer-col {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.disclaimer {
    margin-top: 30px;
    font-size: small;
    text-align: center;
}

a {
    color: #6246EA;
}