body {
    font-family: 'Poppins', sans-serif;
}

.lavender {
    background-color: #D1D1E9;
}

.dark-lavender {
    background-color: #9090D3;
}

.navbar {
    background-color: #D1D1E9;
}

.bubble {
    background-color: #6246EA;
    margin: 0 120px;
    padding: 5px 0;
    border-radius: 20px;
}

.text-bold {
    font-weight: 800;
}

.text-sharp {
    font-weight: 100;
}

.hero-section {
    text-align: center;
    padding: 40px 0 80px;
}

.hero-text {
    max-width: 600px;
    margin: 0 auto;
}

.hero-text h1, .hero-text p {
    margin-top: 8px;
}

.hero-image {
    width: 40%;
    max-width: 200px;
    height: auto;
    margin-top: 20px;
}

.hero-text .hero-image {
    max-width: 50%;
}

.content-container {
    text-align: center;
    margin-top: 50px;
    padding: 32px;
    background-color: #d9d9d9;
    border-radius: 5px;
}

.content-text {
    margin-bottom: 30px;
}

.card-deck {
    margin-top: 30px;
}

.search-container {
    text-align: center;
    margin-top: 100px;
    background-color: #d9d9d9;
    padding: 60px 30px;
    border-radius: 5px;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #D1D1E9;
}

.search-input, .search-btn {
    border-radius: 5px;
}

.search-btn {
    background-color: #6246EA;
    color: white;
    border: none;
    padding: 7.9px 10px 6px;
    cursor: pointer;
    margin-left: -24px;
    
}

.search-btn img {
    max-width: 30px;
    max-height: 30px;
}

.card {
    padding: 10px;
    border: none;
    margin-bottom: 24px;
}

.card-img-one {
    padding: 48px 100px;
}

.col-md-8 .card-body {
    font-size: smaller;
}

.no-gutters .col-md-4 {
    overflow: hidden;
}

.card-img-two {
    height: auto;
    width: 100%;
}

.footer {
    background-color: #9090D3;
    color: white;
    padding: 20px 0;
    margin-top: 50px;
}

.footer-col {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.disclaimer {
    margin-top: 30px;
    font-size: small;
    text-align: center;
}

a {
    color: #6246EA;
}

.result {
    background-color: #6246EA;
    color: white;
    margin: 30px 0 0;
    border-radius: 15px;
    width: fit-content;
    padding: 2px 18px;
}